# Linear Regression

In [4]:
import pandas as pd 
from sklearn.linear_model import LinearRegression

In [6]:
people = pd.read_csv("ds-stick-figs.csv")
people

      Name  Height (in)   GPA  Number of Friends       Shoes       Sport
0   Dakota           72  3.15                307    Converse  Basketball
1   Hayden           68  3.50                335  Flip Flops      Tennis
2  Charlie           61  1.10                 34  Flip Flops    Baseball
3   Kamryn           66  2.18                200    Converse      Soccer
4  Emerson           65  3.06                213    Converse      Soccer
5   Jessie           61  2.41                202  Flip Flops  Basketball
6   Sawyer           67  2.96                314  Flip Flops      Tennis
7   London           64  3.98                436    Converse      Soccer

In [11]:
X = people['GPA'].values.reshape(-1, 1)
y = people['Number of Friends'].values.reshape(-1, 1)

In [16]:
linreg = LinearRegression().fit(X, y)

#slope
linreg.coef_

array([[129.75344623]])

In [15]:
#intercept
linreg.intercept_

array([-107.2114986])

In [17]:
#r squared
linreg.score(X,y)

0.9137344895912347