# Titanic Competition

In [51]:
#imports
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score

In [52]:
#get data
train_data = pd.read_csv('train.csv', index_col='PassengerId')
test_data = pd.read_csv('test.csv', index_col='PassengerId')

In [53]:
#train_data

In [54]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [55]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Name      418 non-null    object
 2   Sex       418 non-null    object
 3   Age       332 non-null    float64
 4   SibSp     418 non-null    int64
 5   Parch     418 non-null    int64
 6   Ticket    418 non-null    object
 7   Fare      417 non-null    float64
 8   Cabin     91 non-null     object
 9   Embarked  418 non-null    object
dtypes: float64(2), int64(3), object(5)
memory usage: 35.9+ KB

#### replace sex values with 0 (male) and 1 (female)

In [56]:
train_data['Sex'] = train_data['Sex'].replace(['female','male'],[1,0])
test_data['Sex'] = test_data['Sex'].replace(['female','male'],[1,0])

### trying a basic prediction

In [57]:
cols = ['Pclass', 'Sex']

X = train_data[cols]
y = train_data.Survived
test_X = test_data[cols]

model = RandomForestRegressor(random_state=1)
model.fit(X, y)

RandomForestRegressor(random_state=1)

In [58]:
#cross validation to estimate accuracy
cv = cross_val_score(model, X, y, cv = 5)
cv.mean()

0.37560526690090146

In [59]:
preds = model.predict(X).round(decimals = 0)
#print(preds)

In [60]:
#comparing results for train data
output = pd.DataFrame({'Survived': train_data.Survived,
                      'Prediction': preds})
output

             Survived  Prediction
PassengerId
1                   0         0.0
2                   1         1.0
3                   1         0.0
4                   1         1.0
5                   0         0.0
...               ...         ...
887                 0         0.0
888                 1         1.0
889                 0         0.0
890                 1         0.0
891                 0         0.0

[891 rows x 2 columns]

In [68]:
#applying to test_data

import time
timestr = time.strftime('%Y%m%d-%H%M%S') #this is Mr. Gorton's

test_X = test_data[cols]
test_preds = model.predict(test_X).round(decimals = 0)

test_output = pd.DataFrame({'PassengerId': test_data.index,
                            'Survived': test_preds})
test_output

test_output.to_csv(f'submission{timestr}.csv', index=False)